@import "tailwindcss";

.scanline {
  width: 100%;
  height: 100px;
  z-index: 3;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.02) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  animation: scanline 6s linear infinite;
}

@keyframes scanline {
  0% { bottom: 100%; }
  100% { bottom: -100px; }
}